{% extends 'final_proj/base.html' %}

{% block title %}Predict Stock Prices{% endblock %}

{% block content %}
    <h1>Predict Stock Prices</h1>
    <form method="post" action="{% url 'predict' %}">
        {% csrf_token %}
        <div class="button-group">
            <button type="submit" name="symbol" value="AAPL">Apple</button>
            <button type="submit" name="symbol" value="TSLA">Tesla</button>
            <button type="submit" name="symbol" value="NVDA">NVIDIA</button>
            <button type="submit" name="symbol" value="JNJ">Johnson & Johnson</button>
            <button type="submit" name="symbol" value="PG">Procter & Gamble</button>
            <button type="submit" name="symbol" value="MSFT">Microsoft</button>
            <button type="submit" name="symbol" value="KO">Coca Cola</button>
        </div>
        {% if form.errors %}
            <p class="error-message">{{ form.errors }}</p>
        {% endif %}
    </form>
{% endblock %}